<h1>All Articles</h1>

<table id="articles">
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr>
    <% @articles.each do |article| %>
      <td>
        <%= link_to article.title, article_path(article), class: 'article-title' %>
      </td>
      <td>
        <%= article.body %>
      </td>
    <% end %>
  </tr>
</table>

<%= link_to "Create a New Article", new_article_path, class: "new-article" %>
